* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
*::selection {
    background: transparent;
    color: blueviolet;
}

body {
    background-color: var(--body);
}

:root {
    --back: #ddedfe;
    --text: rgb(8, 8, 8);
    --body: #fff;
    --main-color: rgb(25, 224, 101);
}

.darkMode {
    --back: rgb(48, 48, 48);
    --text: rgb(247, 247, 247);
    --body: rgb(8, 8, 8);
    --main-color: rgb(25, 224, 101);
}


.containerA {
    max-width: 825px;
    margin: auto;
}

/* Start Header */
header {
    background-color: var(--back);
    width: 100%;
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    margin-left: 5rem;
}
header .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
header .content h1 {
    font-family: none;
    color: #dc3545;
    cursor: default;
}

header .content ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}
header .content ul li {
    list-style: none;
}
header .content ul li a{
    text-decoration: none;
    color: var(--text);
    font-size: 20px;
    margin-left: 2rem;
    cursor: pointer;
}
/* End Header */

/* Start Section */
section {
    transition: 0.5s;
}
section.hidden {
    display: none;
}
section .content {
    color: var(--text);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


section .content .number {
    text-align: center;
}
section .content .number span {
    color: var(--main-color);
    font-size: unset;
}

section .content .answers {
    display: flex;
    flex-direction: column;
}

section .content .answers .answer {
    background: var(--back);
    padding: 1rem 1.5rem;
}

section .content .answers .answer input {
    margin-right: 1rem;
}

section .content .answers .answer input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

section .content .answers .answer input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: var(--main-color);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
section .content .answers .answer input[type='radio']:checked ~ label {
    color: var(--main-color);
}


section #nxt-button {
    border: none;
    width: 100%;
    background: #3eeaea;
    color: #414141;
    padding: 1rem 1.2rem;
    font-weight: bold;
}
section #nxt-button.disabled {
    background: #626262;
    cursor: auto;
}

section .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text);
    font-weight: bold;
    padding: 1rem;
    background: var(--back);
}
section .info .time {
    color: var(--text);
    font-weight: bold;
}
section .info .categ {
    color: var(--text);
    font-weight: bold;
}
section .info .categ span {
    color: var(--main-color);
    margin-left: 0;
    cursor: default;
}
/* End Section */

/* Start Result */
.result {
    display: none;
    min-height: 300px;
    color: var(--text);
    font-weight: bold;
    width: 100%;
    transition: 0.5s;
    align-items: center;
}
.result.active {
    display: flex;
}

.result .containerA {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.result .containerA img {
    width: 150px;
    height: 150px;
}
.result .containerA .title span {
    color: var(--main-color);
}

/* End Result */


/* Start Aside */
aside {
    max-height: 300px;
}
aside .content {
    color: var(--text);
    font-weight: bold;
}

aside .content h2 {
    text-align: center;
    color: var(--main-color);
}

aside .content .categories {
    position: relative;
    text-align: center;
    margin-top: 1rem;
    border-radius: 5px;
    transition: all 0.4s;
    color: var(--text);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
aside .content .categories::-webkit-scrollbar {
    background: #8a878c;
    width: 8px;
    border-end-end-radius: 5px;
    border-top-right-radius: 5px;
}
aside .content .categories::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

aside .content .categories .category {
    flex: 1 0 33.33%;
    background-color: var(--back);
    padding: 1rem;
    position: relative;
    text-align: start;
    cursor: pointer;
    transition: 0.5s;
}
aside .content .categories .category::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(222 197 255 / 55%);
    width: 100%;
    height: 100%;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.5s;
}
aside .content .categories .category:hover::before {
    transform: scaleX(1);
}

aside .content .categories .category img {
    width: 85px;
    position: absolute;
    top: -10px;
    right: -10px;
    height: 85px;
}
/* End Aside */



.created {
    color: var(--text);
    font: 500;
    padding: 2rem;
    text-align: center;
}
.created a {
    color: var(--main-color);
}



/* Start Modal above  */
.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 60%);
    width: 100%;
    height: 100%;
    display: grid;
    align-items: flex-end;
    overflow: hidden;
    transition: all 0.3s;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
}
.modal-container.show_modal {
    visibility: visible;
    opacity: 1;
}
.modal-container.show_modal .modal-content {
    transform: translate(-50%, -50%);
}

.modal-container .hi {
    color: var(--main-color);
    position: absolute;
    bottom: 65px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    text-align: center;
}

.modal-container .modal-content {
    position: relative;
    background-color: #c5cfd9;
    text-align: center;
    padding: 3rem;
    border-radius: 5px;
    transition: all 0.4s;
    color: var(--text);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 70vw;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -15%);
    max-height: 60vh;
    overflow: auto;
}
.modal-container .modal-content::-webkit-scrollbar {
    background: #8a878c;
    width: 8px;
    border-end-end-radius: 5px;
    border-top-right-radius: 5px;
}
.modal-container .modal-content::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

.modal-container .modal-content .card-modal {
    flex: 0 0 33.33%;
    background-color: #fff;
    padding: 1rem;
    position: relative;
    text-align: start;
    cursor: pointer;
    transition: 0.5s;
}
.modal-container .modal-content .card-modal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(222 197 255 / 55%);
    width: 100%;
    height: 100%;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.5s;
}
.modal-container .modal-content .card-modal:hover::before {
    transform: scaleX(1);
}

.modal-container .modal-content .card-modal img {
    width: 85px;
    position: absolute;
    top: -10px;
    right: -10px;
    height: 85px;
}
/* End Modal above  */


/* media for all page  */
@media (max-width: 925px) {
    body header {
        margin-left: 0;
    }
}